<h1>Pets Available</h1>
<ul>
    <%@pets.each do |pet|%>
    <li> <%=link_to pet.name + " the " + pet.species, pet_path(pet)%> </li>
    <%end%>
</ul>    

<ul>
    <%@unique=@pets.uniq{|p| p.species}%>
    <%@unique.each do |pet|%>
    <li><%=link_to "Adopt a #{pet.species}!", "/#{pet.species}"%></li>
    <%end%>
</ul>

