
<h1><%=@pet.name%> the <%=@pet.species.capitalize%></h1>
<h3>Age: <%=Time.current.year - @pet.year_of_birth%></h3>
<h3>Family Pet? <%if @pet.good_with_kids == true%>
Good with children
<%elsif @pet.good_with_kids == false%>
Prefers a home without children</h3>
<%else%>
Nothing happens
<%end%>
<br>
<%= link_to "Back to adoptable cuties!", pets_path%>

